<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="./../../../lib/mint-ui/style.css">
  <link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./../../../common/css/jas-main.css">
</head>
<style>
</style>

<body>
  <div class="_outer-wrapper " v-cloak>

    <jas-header title="搜索框"></jas-header>

    <div>

      <jas-group-header class="mb10" title="基本的搜索"></jas-group-header>
      <jas-more-searcher v-model="value" @search="searchList" @clear="clear"></jas-more-searcher>
    </div>

    <div>
      <jas-group-header class="mb10" title="更多筛选的搜索"></jas-group-header>
      <jas-more-searcher v-model="form.value" :ismore="true" @search="searchList" @clear="clear" @reset="reset">
        <template>
          <jas-select-field label="管线名称" :is-search="0" :options="pipes" v-model="form.pipeoid"></jas-select-field>
          <jas-select-field label="管道等级" :is-search="0" :options="pipetypes" v-model="form.pipetype"></jas-select-field>
        </template>
      </jas-more-searcher>
    </div>


  </div>
</body>

<script src="./../../../appcan/js/appcan.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/mint-ui/index.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script src="./../../../common/components/jas-components.js"></script>
<script src="./../../../common/components/jas-more-searcher.js"></script>
<script>
  window.vm = new Vue({
    el: '._outer-wrapper',
    data: function () {
      return {
        value: '',
        form: {
          value: '',
          pipeoid: '',
          pipetype: '',
        },
        pipes: [{
            label: '蒙西管线',
            value: '蒙西管线',
          },
          {
            label: '中俄管线',
            value: '中俄管线',
          },
        ],
        pipetypes: [{
            label: '高压',
            value: '高压',
          },
          {
            label: '中压',
            value: '中压',
          },
          {
            label: '低压',
            value: '低压',
          },
        ],
      }
    },

    created: function () {

    },
    mounted: function () {
      var that = this;

      appcan.ready(function () {});
    },
    methods: {
      reset: function () {
        for (var key in this.form) {
          this.form[key] = '';
        }
      },
      clear: function () {
        this.$toast('您点击了' + '清除');
      },
      searchList: function (name) {
        this.$toast('您点击了' + '搜索');
      },
    },
  });
</script>

</html>