<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="./../../../lib/mint-ui/style.css">
  <link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./../../../common/css/jas-main.css">
</head>
<style>
</style>

<body>
  <div class="_outer-wrapper of-h " v-cloak>
    <jas-header title="时间日期选择组件"></jas-header>
    <div v-setHeight>

      <div class="mt10">
        <jas-group-header title="三种选择方式"></jas-group-header>
        <div class="bgfff mb10">
          <jas-datetime-field v-required="true" label="发生日期时间" type="datetime" v-model="a"></jas-datetime-field>
          <jas-datetime-field label="发生日期" :start-date="new Date('2018-01-01')" type="date" v-model="b">
          </jas-datetime-field>
          <jas-datetime-field label="发生时间" type="time" v-model="c"></jas-datetime-field>
        </div>
      </div>
      <div class="mt10">
        <jas-group-header title="自定义起止日期"></jas-group-header>
        <div class="bgfff mb10">
          <jas-datetime-field label="发生日期" :start-date="new Date('2018-01-01')" :end-date="new Date('2022-01-01')"
            type="date" v-model="b">
          </jas-datetime-field>
        </div>
      </div>
    </div>

  </div>
</body>

<script src="./../../../appcan/js/appcan.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/mint-ui/index.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script src="./../../../common/components/jas-components.js"></script>
<script src="./../../../common/components/jas-datetime-field.js"></script>

<script>
  window.vm = new Vue({
    el: '._outer-wrapper',
    data: function () {
      return {
        a: '',
        b: '2018-02-02',
        c: '',
        a: '',
      }
    },
    created: function () {

    },
    mounted: function () {
      var that = this;

      appcan.ready(function () {});
    },
    methods: {

    },
  });
</script>

</html>